.container{
  height: auto;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.container-fluid {
  display: block;
  height: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container .row,
.container-fluid .row {
  margin-left: 15px;
  margin-right: 15px;
}
.container .row:after,
.container-fluid .row:after {
  content: "";
  display: block;
  height: 0px;
  line-height: 0;
}
.cols-xs-1 {
  width: 8.33333333%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-2 {
  width: 16.66666667%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-3 {
  width: 25%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-4 {
  width: 33.33333333%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-5 {
  width: 41.66666667%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-6 {
  width: 50%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-7 {
  width: 58.33333333%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-8 {
  width: 66.66666667%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-9 {
  width: 75%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-10 {
  width: 83.33333333%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-11 {
  width: 91.66666667%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.cols-xs-12 {
  width: 100%;
  display: block;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
  .cols-sm-1 {
    width: 8.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-2 {
    width: 16.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-3 {
    width: 25%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-4 {
    width: 33.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-5 {
    width: 41.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-6 {
    width: 50%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-7 {
    width: 58.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-8 {
    width: 66.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-9 {
    width: 75%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-10 {
    width: 83.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-11 {
    width: 91.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-sm-12 {
    width: 100%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 970px;
  }
  .cols-md-1 {
    width: 8.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-2 {
    width: 16.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-3 {
    width: 25%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-4 {
    width: 33.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-5 {
    width: 41.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-6 {
    width: 50%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-7 {
    width: 58.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-8 {
    width: 66.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-9 {
    width: 75%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-10 {
    width: 83.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-11 {
    width: 91.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-md-12 {
    width: 100%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .cols-lg-1 {
    width: 8.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-2 {
    width: 16.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-3 {
    width: 25%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-4 {
    width: 33.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-5 {
    width: 41.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-6 {
    width: 50%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-7 {
    width: 58.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-8 {
    width: 66.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-9 {
    width: 75%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-10 {
    width: 83.33333333%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-11 {
    width: 91.66666667%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cols-lg-12 {
    width: 100%;
    display: block;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .hidden-xs {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/*
*自动缩放图片
*/
.gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
  background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_large_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-ipad .gallery-item-image-element .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/heroes/ipad_small_2x.jpg")
  }
}

.gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
  background-image: url("https://images.apple.com/cn/home/images/heroes/watch_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/heroes/watch_large_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/heroes/watch_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/heroes/watch_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/heroes/watch_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/heroes/watch_small_2x.jpg")
  }
}

.promo-tile-clips {
  background-image: url("https://images.apple.com/cn/home/images/promos/clips_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-clips {
    background-image: url("https://images.apple.com/cn/home/images/promos/clips_medium_2x.jpg")
  }
}

.promo-tile-iphone {
  background-image: url("https://images.apple.com/cn/home/images/promos/iphone_large.jpg");
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {*/
/*.promo-tile-iphone {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/iphone_large_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (min-width: 1442px) {
  .promo-tile-iphone {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-iphone {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-iphone {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_medium.jpg")
  }
}

/*@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {*/
/*.promo-tile-iphone {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/iphone_medium_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (max-width: 735px) {
  .promo-tile-iphone {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_small.jpg")
  }
}

/*@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {*/
/*.promo-tile-iphone {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/iphone_small_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (min-width: 1442px) {
  .promo-tile-iphone {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_medium.jpg");
  }
}

/*@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {*/
/*.promo-tile-iphone {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/iphone_medium_2x.jpg")*/
/*}*/
/*}*/

.promo-tile-macbook-pro {
  background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium_2x.jpg")
  }
}

.promo-tile-accessories {
  background-image: url("https://images.apple.com/cn/home/images/promos/accessories_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-accessories {
    background-image: url("https://images.apple.com/cn/home/images/promos/accessories_medium_2x.jpg")
  }
}

.promo-tile-iphone-upgrade {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_large.jpg");
  height: 200px;
  background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-iphone-upgrade {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_large_2x.jpg");
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-iphone-upgrade {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_xlarge.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-iphone-upgrade {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_xlarge_2x.jpg");
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-iphone-upgrade {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_medium.jpg");
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-iphone-upgrade {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_medium_2x.jpg");
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-iphone-upgrade {
    background-size: 736px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_small.jpg");
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-iphone-upgrade {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_small_2x.jpg");
  }
}

html.ie8 .promo-tile-iphone-upgrade {
  background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_medium.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  html.ie8 .promo-tile-iphone-upgrade {
    background-image: url("https://images.apple.com/cn/home/images/promos/iphone_upgrade_medium_2x.jpg")
  }
}

.no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
  background-image: url("https://images.apple.com/cn/home/images/stacked/watch_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/stacked/watch_large_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/stacked/watch_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/stacked/watch_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/stacked/watch_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-apple-watch-series-2 .gallery-image-watch {
    background-image: url("https://images.apple.com/cn/home/images/stacked/watch_small_2x.jpg")
  }
}

.no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
  background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_large_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .no-enhanced-gallery .gallery-container #homepage-gallery-ipad .gallery-image-ipad {
    background-image: url("https://images.apple.com/cn/home/images/stacked/ipad_small_2x.jpg")
  }
}

/*WWDC*/
.promo-tile-wwdc17 {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_large.jpg");
  height: 200px;
  background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-wwdc17 {
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-wwdc17 {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-wwdc17 {
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-wwdc17 {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-wwdc17 {
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-wwdc17 {
    background-size: 736px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-wwdc17 {
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-wwdc17 {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_medium.jpg");
    height: 200px
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-wwdc17 {
    background-image: url("https://images.apple.com/cn/home/images/promos/wwdc17_medium_2x.jpg")
  }
}

/*SR tile*/
.promo-tile-supplier-responsibility {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_large.jpg");
  height: 200px;
  background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-supplier-responsibility {
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-supplier-responsibility {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-supplier-responsibility {
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-supplier-responsibility {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-supplier-responsibility {
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-supplier-responsibility {
    background-size: 736px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-supplier-responsibility {
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-supplier-responsibility {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_medium.jpg");
    height: 200px
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-supplier-responsibility {
    background-image: url("https://images.apple.com/cn/home/images/promos/supplier_responsibility_medium_2x.jpg")
  }
}

.promo-tile-airpods {
  background-image: url("https://images.apple.com/cn/home/images/promos/airpods_large.jpg");
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {*/
/*.promo-tile-airpods {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/airpods_large_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (min-width: 1442px) {
  .promo-tile-airpods {
    background-image: url("https://images.apple.com/cn/home/images/promos/airpods_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-airpods {
    background-image: url("https://images.apple.com/cn/home/images/promos/airpods_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-airpods {
    background-image: url("https://images.apple.com/cn/home/images/promos/airpods_medium.jpg")
  }
}

/*@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {*/
/*.promo-tile-airpods {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/airpods_medium_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (max-width: 735px) {
  .promo-tile-airpods {
    background-image: url("https://images.apple.com/cn/home/images/promos/airpods_small.jpg")
  }
}

/*@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {*/
/*.promo-tile-airpods {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/airpods_small_2x.jpg")*/
/*}*/
/*}*/

@media only screen and (min-width: 1442px) {
  .promo-tile-airpods {
    background-image: url("https://images.apple.com/cn/home/images/promos/airpods_medium.jpg");
  }
}

/*@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {*/
/*.promo-tile-airpods {*/
/*background-image: url("https://images.apple.com/cn/home/images/promos/airpods_medium_2x.jpg")*/
/*}*/
/*}*/

.promo-tile-environment {
  background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-environment {
    background-image: url("https://images.apple.com/cn/home/images/promos/earth_tile_medium_2x.jpg")
  }
}

.promo-tile-yaks-tile {
  background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-yaks-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/yaks_tile_medium_2x.jpg")
  }
}

.promo-tile-breathe-tile {
  background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-breathe-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/breathe_tile_medium_2x.jpg")
  }
}

.promo-tile-sweat-tile {
  background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-sweat-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/sweat_tile_medium_2x.jpg")
  }
}

.promo-tile-zero-waste-tile {
  background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_large.jpg");
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_medium.jpg");
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-zero-waste-tile {
    background-image: url("https://images.apple.com/cn/home/images/promos/zero_waste_tile_medium_2x.jpg")
  }
}

.promo-tile-mothersday {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_large.jpg");
  height: 200px;
  background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-mothersday {
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-mothersday {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-mothersday {
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-mothersday {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-mothersday {
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-mothersday {
    background-size: 736px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-mothersday {
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-mothersday {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_medium.jpg");
    height: 200px
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-mothersday {
    background-image: url("https://images.apple.com/cn/home/images/promos/mothersday_medium_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-mothersday {
    height: 200px
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-mothersday {
    height: 200px
  }
}

/* Happy Earth Day */
.ie8 .gallery-container #homepage-gallery-environment .gallery-image-environment {
  max-height: 525px;
  min-height: 430px;
}

.ie8.no-enhanced-gallery .gallery-container #homepage-gallery-environment .gallery-image-environment {
  top: 320px;
}

/* Macbook Pro*/
.promo-tile-macbook-pro {
  background-size: 360px 200px;
  background-repeat: no-repeat;
  background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_large.jpg");
  height: 200px;
  background-position: center
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_large_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-macbook-pro {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_xlarge.jpg")
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_xlarge_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-macbook-pro {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium.jpg")
  }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium_2x.jpg")
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-macbook-pro {
    background-size: 736px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_small.jpg")
  }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_small_2x.jpg")
  }
}

@media only screen and (min-width: 1442px) {
  .promo-tile-macbook-pro {
    background-size: 640px 200px;
    background-repeat: no-repeat;
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium.jpg");
    height: 200px
  }
}

@media only screen and (min-width: 1442px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 1442px) and (min-resolution: 1.5dppx), only screen and (min-width: 1442px) and (min-resolution: 144dpi) {
  .promo-tile-macbook-pro {
    background-image: url("https://images.apple.com/cn/home/images/promos/macbook_pro_medium_2x.jpg")
  }
}

@media only screen and (max-width: 1068px) {
  .promo-tile-macbook-pro {
    height: 200px
  }
}

@media only screen and (max-width: 735px) {
  .promo-tile-macbook-pro {
    height: 200px
  }
}